<div class="card">
    <%= link_to image_tag( design.image, class: :card__img ), design_path(tag.id), method: :get %>
      <div class="card__body">
        <% link_to design.title, design_path(tag.id), method: :get, class: :card__title %>
        <p class="card__summary">
          <%= design.title %>
        </p>
       
      </div>
</div>