<main class="main">
  <div class="inner">

    <%= form_with(url: search_designs_path, local:true, method: :get, class:"search-form") do |form| %>
      <%= form.text_field :keyword, placeholder:"検索する", class:"search-input " %>
      <%= form.submit "検索",class: "form__btn search-btn" %>
    <% end %>

    <div class="card__wrapper">
      <%= render partial: 'design', collection: @designs  %>
    </div>
  </div>
</main>
